[Unit]
Description=Schedule StockWatch bitcoin-trading

[Timer]
OnBootSec=2min
OnUnitInactiveSec=60s
AccuracySec=1s
Unit=stock-watch-bitcoin-trading.service

[Install]
WantedBy=timers.target
