[Unit]
Description=Schedule StockWatch bitcoin-monitor

[Timer]
OnBootSec=2min
OnUnitInactiveSec=60s
AccuracySec=1s
Unit=stock-watch-bitcoin-monitor.service

[Install]
WantedBy=timers.target
